asgiref==3.9.1
charset-normalizer==3.4.2
cloudpickle==3.1.1       
colorama==0.4.6
Django==5.0.14
django-pandas==0.6.7     
joblib==1.5.1
llvmlite==0.44.0
mssql-django==1.5        
narwhals==1.47.1
numba==0.61.2
numpy==2.2.6
packaging==25.0
pandas==2.3.1
patsy==1.0.1
pillow==11.3.0
plotly==6.2.0
pyodbc==5.2.0
python-dateutil==2.9.0.post0
pytz==2025.2
reportlab==4.4.3
scikit-learn==1.7.1
scipy==1.16.0
shap==0.48.0
six==1.17.0
slicer==0.0.8
sqlparse==0.5.3
statsmodels==0.14.5
threadpoolctl==3.6.0
tqdm==4.67.1
typing_extensions==4.14.1
tzdata==2025.2
xlsxwriter==3.2.5